.container-content{
  min-height: calc(100vh - 200px) !important;
  padding: 0px 20px;
  margin-top: 40px;
}

.content{
  margin-top: 20px;
}

.container-footer{
  font-weight: 700;
  text-align: center;
  padding: 0px;
}

.titlePage{
  margin-bottom: 20px;
  font-weight: 600;
}

.btn-new{
  margin-bottom: 10px;
}